.description{
    color:#7F7F7F;
   

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    width:260px;
    line-height: 24px;     /* fallback */
    max-height: 100px;      /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

   

}
img {
    max-height:2000px;

}
.price{
    color:#000;
    font-weight: bold;
    font-size:30px;
}
