
.login-form {
    width: 500px;
    margin: 50px auto;
    padding:40px 90px;
    border:1px solid #000;
    background-color:#fff;
    border-color:#d3e0e9;
}
:host(body){
    background-color:red;
}
.login{
    height: 100%;
    background-color:red;
}
.logoimg{
    width:60%;
    margin-left:20%;
    padding-bottom:30px;
}
input:focus{
    outline:none;
    box-shadow:none !important;
    -webkit-box-shadow: none;
    box-shadow: none
}
